* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
  }
  .main {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .menu_board {
      height: 100%;
      width: 100%;
      position: relative;
      .menu_board_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        h1 {
          font-size: 90px;
          margin-bottom: 20px;
          color: rgb(230, 0, 255);
        }
        button {
          background-color: #e600ff;
          margin-bottom: 30px;
          color: #fff;
        }
      }
      .menu_board_layer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        opacity: 70%;
      }
    }
    button {
      outline: none;
      border: none;
      cursor: pointer;
      padding: 5px 3px;
      border-radius: 4px;
      font-size: 16px;
      color: #fff;
      &:hover {
        opacity: 0.5;
      }
    }
    .menu_btn {
      background-color: #B19470;
    }
    .again_btn {
      background-color: #B19470;
    }
    .fix_btn {
      background-color: #B19470;
    }
    .help_btn {
      background-color: #B19470;
    }
    .main_board {
      width: 100%;
      height: 100%;
      position: relative;
      .main_board_wrap {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        .main_info {
          padding: 100px 0;
          width: 15%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .level {
            padding: 20vh 0;
            display: flex;
            align-items: center;
            margin: 10px 0;
            flex-direction: column;
            span {
              color: #b1a325;
              margin-right: 5px;
              font-size: 30px;
            }
            select {
              background-color: #B19470;
              padding: 5px 2px;
              border-radius: 4px;
              width: 60%;
              text-align: center;
              cursor: pointer;
              option {
                cursor: pointer;
              }
            }
          }
          .game_helper{
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 300px;
            justify-content: space-between;
            i{
              font-size: 30px;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            button{
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
            }
          }
          button {
            cursor: pointer;
          }
          h5 {
            font-size: 40px;
            color: orange;
            margin: 20px 0;
          }
          span {
            font-size: 32px;
            color: yellow;
          }
        }
        .main_wrap {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .main_time {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            h5 {
              font-size: 42px;
              color: #B19470;
            }
            .time_bar_wrap {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: end;
              .time_bar {
                height: 20px;
                background-image: linear-gradient(
                  90deg,
                  #AFD198,
                  #E8EFCF,
                  #AFD198);
                border-radius: 10px;
              }
              span {
                font-size: 32px;
                color: #B19470;
              }
            }
          }
      }
      .info_board {
        height: 80%;
        font-size: 40px;
        color: #B19470;
        display: flex;
        width: 15%;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 10vh;
        flex-direction: column;
        span {
          color: #F8F6E3;
        }
      }
    }
      .main_board_layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0.6;
      }
      .main_board_box {
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .box_wrap {
          background-color: rgb(19, 19, 19);
          padding: 10px 20px;
          border-radius: 20px;
          h5 {
            font-size: 32px;
            color: red;
          }
          p {
            font-size: 30px;
            color: orange;
            margin: 5px 0;
            span {
              color: yellow;
            }
          }
        }
        .box_btn {
          margin-top: 20px;
          justify-content: end;
          display: flex;
          button {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .modal-backdrop{
    z-index: 2;
  }
  .btn-secondary{
    background-color: #e600ff;
  }